<div class="row">
  <div class="col-auto">
    <h2 class="profileWelcome">Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3><span class="highlight">Create a New Project:</span></h3>

    <form class="form new-project-form ">
      <div class="form-group">
        <label for="project-name">Project Name:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        {{!-- look for dropdown in bootstrap or css framework --}}
        <label for="importance">Importance:</label>
          <select class="form-input" type="button" id="importance" name="importance">
            <option>High</option>
            <option >Medium</option>
            <option>Low</option>
          </select>
        </div>
    {{!-- </div> --}}

{{!-- 
        <div class="uk-inline">
          <button type="button"></button>
          <div uk-dropdown="mode: click"></div>
        </div> --}}





      <div class="form-group">
        <label for="project-desc">Description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <label for="due-date">Due Date:</label>
        <input class="form-input" type="date" id="due-date" name="due-date"></input>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3><span class="highlight">Current Projects:</span></h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
