header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.red{
  background: rgba(214, 50, 48, 0.3);
}
.orange {
  background: rgba(249, 194, 83, 0.3);
}
.green {
  background: rgba(110, 211, 105, 0.3);
}
.gray {
  background: rgba(67, 71, 67, 0.293);
}